h1 {
    font-size: 1.5em;
    color: #bd2929;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 0px;
    transition: 0.2s;
  }
  nav a:visited, a:link {
    color: #8b6060;
  }
  nav a:hover {
    color: #ca2a2a;
    background-color: #dccfcf;
    transition: 0.2s;
    border-radius: 4px;
  }
  nav a.active {
    color: #e50303;
  }